**Name: Ankita Bera**

**Roll number: 1828229**

**House: Ra's al Ghul**

#***PART A***

> **Question 1**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
  'A': ['group1', 'group1', 'group2', 'group1','group2',
'group1', 'group2', 'group2','group2','group1'],
  'B': ['true', 'true', 'true', 'false', 'false', 'false', 'false', 'true','false','true']})

In [3]:
df1 = pd.crosstab(df.A, df.B)
print (df1)

B       false  true
A
group1      2     3
group2      3     2

In [4]:
g = df1.index[df1['true'] > df1['false']].tolist()
print (g)

['group1']



> **Question 2 a.**

In [5]:
ser1 = pd.Series([1, 2, 3, 4, 5]) 
ser2 = pd.Series([3, 4, 5, 6, 7])

In [6]:
# union of the series 
union = pd.Series(np.union1d(ser1, ser2)) 
  
# intersection of the series 
intersect = pd.Series(np.intersect1d(ser1, ser2)) 
  
# uncommon elements in both the series  
notcommonseries = union[~union.isin(intersect)]

In [7]:
print(notcommonseries)

0    1
1    2
5    6
6    7
dtype: int64



> **Question 2 b.**

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5]) 
ser2 = pd.Series([3, 4, 5, 6, 7])

In [9]:
# intersection of the series 
intersect = pd.Series(np.intersect1d(ser1, ser2))

In [10]:
print(intersect)

0    3
1    4
2    5
dtype: int64



> **Question 3 a.**

In [11]:
import random

In [12]:
randomser = pd.Series(random.sample(range(0, 100), 10))

In [13]:
for i in randomser:
  if i % 3 == 0:
    print(i)

60
75
12



> **Question 3 b.**

In [14]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [15]:
print ("The original list is : \n" + str(ser))

The original list is :
0     1
1     3
2     6
3    10
4    15
5    21
6    27
7    35
dtype: int64

In [16]:
res = [ser[i + 1] - ser[i] for i in range(len(ser)-1)]
print ("The computed successive difference list is : \n" + str(res))

The computed successive difference list is :
[2, 3, 4, 5, 6, 6, 8]